@import '~styles/colors';
@import '~styles/variables';

$loaderSize: 150px;
$loaderHalfSize: $loaderSize / 2;

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: $loaderSize;
  height: $loaderSize;
  margin-top: -$loaderHalfSize;
  margin-left: -$loaderHalfSize;
  text-align: center;
  background-color: $darkerBlue;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Logo {
    margin-bottom: 6px;
    animation: roll 1.5s infinite;
  }
}

@keyframes roll {
  0%  { transform: rotate(0deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}
