@import '~styles/colors';

.Article {
  padding: 1.8em;
  margin-bottom: 15px;
  background-color: rgba($darkerBlue, 0.8);

  .Article-body {
    max-width: 700px;
    margin: 1.2em auto;
    text-align: center;
  }
}
