@import './colors.scss';
@import './variables.scss';

body {
  padding-top: $headerHeight;
  background-attachment: fixed;
  background-color: $black;
  background-image:
  linear-gradient(0deg, $darkBlue 0%, $darkBlue 100%),
  linear-gradient(325deg, $darkBlue 0%, rgba($darkBlue, 0) 40%),
  linear-gradient(155deg, $darkBlue 0%, rgba($darkBlue, 0) 40%),
  linear-gradient(245deg, $darkRed 0%, rgba($darkRed, 0) 35%),
  linear-gradient(60deg, $darkCyan 0%, rgba($darkCyan, 0) 50%)
}

a {
  font-weight: bold;
  color: lighten($blue, 10%);
  cursor: pointer;
  transition: all $transitionDuration;

  &:hover {
    color: $white;
  }

  &.animate {
    display: inline-block;
    animation: $pulseAnimation;
    transform-origin: 0 50%;
  }
}

.row {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $articleMargin;

  @media (max-width: $breakMedium) {
    display: block;
  }

  .col-2 {
    min-width: 0;
  }
}
