@import url('https://fonts.googleapis.com/css?family=Lato');
@import './colors.scss';

$bodyColor: $lightBlue;

body {
  font-family: Lato, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.5rem;
  color: $bodyColor;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}
