$black: #000;
$white: #fff;

$darkerBlue: #0e253a;
$darkBlue: #153450;
$darkCyan: #2d6573;
$darkRed: #94545b;
$lightBlue: #98bcd9;

// Gradient colors
$gradient1: #1770af;
$gradient2: #1e7bbd;
$gradient3: #1c79bc;
$gradient4: #2482b9;
$gradient5: #267fb3;
$gradient6: #2a7da3;
$gradient7: #236e7c;
$gradient8: #2c7f8e;
$gradient9: #2d8190;
$gradient10: #348690;
$gradient11: #368891;
$gradient12: #419397;
$gradient13: #479493;
$gradient14: #5ba399;
$gradient15: #69ab9a;
$gradient16: #78b39b;
$gradient17: #84bb9e;
$gradient18: #83ba9d;
$gradient19: #9ac5a0;
$gradient20: #b3d2a5;
$gradient21: #c9dfa6;
$gradient22: #e9f0aa;
$gradient23: #f5f3ac;
$gradient24: #f6dd9f;
$gradient25: #f1c794;
$gradient26: #f0b78a;
$gradient27: #eea181;
$gradient28: #ec8873;
$gradient29: #ec756a;
$gradient30: #e95b5f;
$gradient31: #e84754;
$gradient32: #e94754;
$gradient33: #e84755;
$gradient34: #e55760;
$gradient35: #ea5f68;
$gradient36: #eb747a;
$gradient37: #ef858b;
$gradient38: #f187c7;
$gradient39: #ef76bf;
$gradient40: #e860b6;
$gradient41: #e556b0;
$gradient42: #e747ae;
