$black: #000;
$white: #fff;

$darkerBlue: #0d223b;
$darkBlue: #153450;
$darkCyan: #2d6573;
$darkRed: #94545b;
$blue: #267fb3;
$lightBlue: #98bcd9;
$lightGreen: #479493;
$lighterGreen: #78b39b;
$lightLime: #b3d2a5;
$lightOrange: #f0b78a;
$greyBlue: #66829a;
$red: #e84754;

// Gradient colors
$barChartColors: (
  #1770af, // 1
  #1b78bb, // 2
  #1e7bbd, // 3
  #2280b5, // 4
  #267fb3, // 5
  #2a7da3, // 6
  #277a92, // 7
  #2c7f8e, // 8
  #2d8190, // 9
  #348690, // 10
  #368891, // 11
  #419397, // 12
  #479493, // 13
  #5ba399, // 14
  #69ab9a, // 15
  #78b39b, // 16
  #84bb9e, // 17
  #83ba9d, // 18
  #9ac5a0, // 19
  #b3d2a5, // 20
  #c9dfa6, // 21
  #e9f0aa, // 22
  #f5f3ac, // 23
  #f6dd9f, // 24
  #f1c794, // 25
  #f0b78a, // 26
  #eea181, // 27
  #ec8873, // 28
  #ec756a, // 29
  #e95b5f, // 30
  #e74754, // 31
  #e84754, // 32
  #e94755, // 33
  #e55760, // 34
  #ea5f68, // 35
  #eb747a, // 36
  #ef858f, // 37
  #f187a7, // 38
  #ef76af, // 39
  #e860a6, // 40
  #e556a0, // 41
  #e747a4  // 42
);
