$black: #000;
$white: #fff;

$darkerBlue: #0d223b;
$darkBlue: #153450;
$darkCyan: #2d6573;
$darkRed: #94545b;
$lightBlue: #98bcd9;
$greyBlue: #66829a;

// Gradient colors
$barChartColors: (
  #1770af,
  #1b78bb,
  #1e7bbd,
  #2684b7,
  #267fb3,
  #2a7da3,
  #277a8f,
  #2c7f8e,
  #2d8190,
  #348690,
  #368891,
  #419397,
  #479493,
  #5ba399,
  #69ab9a,
  #78b39b,
  #84bb9e,
  #83ba9d,
  #9ac5a0,
  #b3d2a5,
  #c9dfa6,
  #e9f0aa,
  #f5f3ac,
  #f6dd9f,
  #f1c794,
  #f0b78a,
  #eea181,
  #ec8873,
  #ec756a,
  #e95b5f,
  #e74754,
  #e84754,
  #e94755,
  #e55760,
  #ea5f68,
  #eb747a,
  #ef858b,
  #f187c7,
  #ef76bf,
  #e860b6,
  #e556b0,
  #e747ae
);
