$breakSmall: 640px;
$breakMedium: 900px;

$headerHeight: 60px;
$articleMargin: 15px;
$articleMarginSmall: 10px;

$transitionDuration: 250ms;

$pulseAnimation: pulse 2s infinite;
@keyframes pulse {
  50%  { transform: scale(1); }
  75%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}
