@import '~styles/colors';
@import '~styles/variables';

.NumberInput {
  width: 60px;
  padding: 0.4em 0.2em;
  margin: 0 5px;
  font-size: 2em;
  color: $white;
  text-align: center;
  background-color: rgba($lightBlue, 0.35);
  border: 0;
  border-radius: 0.8em;
  outline: none;
  box-shadow: inset 0 0 0 0 rgba($white, 0.4);
  transition: all $transitionDuration;
  -webkit-appearance: none;

  @media (max-width: $breakMedium) {
    width: 40px;
    margin: 0 3px;
    font-size: 1.5em;
  }

  @media (max-width: $breakSmall) {
    width: 9%;
    max-width: 40px;
  }

  &::placeholder {
    color: rgba($darkerBlue, 0.35);
  }

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($lightBlue, 0.45);
    border-radius: 0.2em;
  }

  &.primaryMatch {
    box-shadow: inset 0 0 10px 3px $lightLime;
  }

  &.secondaryMatch {
    box-shadow: inset 0 0 10px 3px $lightOrange;
  }

  &.duplicateMatch {
    color: $red;
    box-shadow: inset 0 0 10px 3px $red;
  }
}
