.NumberChecker {
  position: relative;
  text-align: center;

  &-buttons {
    display: inline-block;

    @media (max-width: $breakSmall) {
      display: block;
      margin: 1em 0;
    }
  }

  &-results {
    margin-top: 2em;
  }
}
